/*!
 * Theme Main Style
 */
/****/
html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #F7FCF7;
  color: #222;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Manrope", sans-serif;
  color: #222;
}

a {
  text-decoration: none;
  color: #00A47D;
}
a:not([href]) {
  color: #222;
}
a:hover {
  color: #00A47D;
}
a:hover, a:focus {
  outline: none;
  text-decoration: none;
}
a.underline-text:hover {
  text-decoration: underline;
  color: #00A47D;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li, ol li {
  margin: 0;
}

button {
  cursor: pointer;
}
button:focus, button:hover {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

svg:focus {
  outline: none;
}

/*****/
/** Import Styles **/
/** Color Class **/
.theme-text-color {
  color: #00A47D !important;
}

.theme-text-colordark {
  color: #016950 !important;
}

.theme-text-dark {
  color: #222;
}

.theme-text-mute {
  color: #999999;
}

.theme-text-dark-light {
  color: #777777;
}

.theme-text-blue-dark {
  color: #202738;
}

.theme-text-light {
  color: #f0f0f0;
}

.theme-text-gray-color {
  color: #C3C7D0;
}

.theme-text-warning {
  color: #E8813B;
}

.theme-hover-text-color {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.theme-hover-text-color:hover {
  color: #00A47D;
}

.theme-bg-color {
  background-color: #00A47D !important;
}

.theme-bg-dark {
  background-color: #222 !important;
}

.theme-bg-mute {
  background-color: #999999 !important;
}

.theme-bg-dark-light {
  background-color: #777777 !important;
}

.theme-bg-blue-dark {
  background-color: #202738 !important;
}

.theme-bg-light {
  background-color: #f0f0f0 !important;
}

.theme-bg-gray-color {
  background-color: #C3C7D0 !important;
}

.theme-bg-white {
  background-color: #fff;
}

.theme-bg-sidebar {
  background-color: #F7F8F9;
}

.border-color {
  border-color: #C9CDD5 !important;
}

.border-color2 {
  border-color: #E9EBF0 !important;
}

.theme-text-success {
  color: #54A712 !important;
}

.theme-text-warning {
  color: #ffa031 !important;
}

.theme-text-danger {
  color: #E41009 !important;
}

.theme-text-info {
  color: #2869CB !important;
}

.theme-bg-success {
  background-color: #54A712 !important;
}

.theme-bg-warning {
  background-color: #ffa031 !important;
}

.theme-bg-danger {
  background-color: #E41009 !important;
}

.theme-bg-info {
  background-color: #2869CB !important;
}

.themeBtn {
  padding: 0.75rem 1.5rem;
  background-color: #00A47D;
  border: 1px solid #016950;
  -webkit-box-shadow: 0 3px 0 #016950;
          box-shadow: 0 3px 0 #016950;
  border-radius: 30px;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.themeBtn:hover {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  color: #fff;
  -webkit-box-shadow: 0 2px 0 #016950;
          box-shadow: 0 2px 0 #016950;
}

.secondaryBtn {
  padding: 0.75rem 1.5rem;
  background-color: #FFF5D4;
  border: 1px solid #FFF5D4;
  -webkit-box-shadow: 0 3px 0 #E6D28C;
          box-shadow: 0 3px 0 #E6D28C;
  border-radius: 30px;
  color: #000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.secondaryBtn:hover {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  color: #000;
  -webkit-box-shadow: 0 2px 0 #E6D28C;
          box-shadow: 0 2px 0 #E6D28C;
}

/** Color Class End **/
.themeHeader nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.themeHeader .themenav li a {
  color: #000;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.themeHeader .themenav li a:hover {
  color: #00A47D;
}

.themeFooter {
  background-color: #00A47D;
}
.themeFooter .fwlocation {
  border-color: #CFCFCF;
}
.themeFooter .fwlocLists a:hover {
  color: #016950;
}
.themeFooter .footerBottom {
  border-top: 1px solid rgba(16, 16, 16, 0.2);
  color: #fff;
}
.themeFooter .footerBottom a {
  color: #fff;
}
.themeFooter .footerBottom a:hover {
  color: #016950;
}

.footerNavWidget .fnavlists li {
  font-size: 14px;
  line-height: 24px;
  padding: 0;
}
.footerNavWidget .fnavlists li a {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  color: #fff;
}
.footerNavWidget .fnavlists li a:hover {
  color: #016950;
}

.accountFormSection {
  border-radius: 0px;
  background-color: #FFF5D4;
  padding: 50px;
}

.themeForm .form-group .form-control {
  width: 100%;
  padding: 0.75rem 0.65rem;
  border: 1px solid #000;
  border-radius: 0.65rem;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  height: 40px;
  background-color: #fff;
}
.themeForm .form-group .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #016950;
}
.themeForm .form-group .form-control::-webkit-input-placeholder {
  color: #000;
}
.themeForm .form-group .form-control::-moz-placeholder {
  color: #000;
}
.themeForm .form-group .form-control:-ms-input-placeholder {
  color: #000;
}
.themeForm .form-group .form-control::-ms-input-placeholder {
  color: #000;
}
.themeForm .form-group .form-control::placeholder {
  color: #000;
}
.themeForm .form-group textarea.form-control {
  padding-top: 0.75rem !important;
}
.themeForm .form-group .form-label {
  display: block;
  font-size: 16px;
  font-weight: 500;
}
.themeForm .form-group .togglePsw {
  cursor: pointer;
  z-index: 2;
}
.themeForm .form-group .togglePsw .hidePsw {
  display: none;
}
.themeForm .form-group .togglePsw.active .showPsw {
  display: none;
}
.themeForm .form-group .togglePsw.active .hidePsw {
  display: block;
}
.themeForm.iconForm .form-group .form-control {
  padding: 0rem 2.5rem;
}

.homeSection1 .leftGraphics, .homeSection1 .rightGraphics {
  position: absolute;
  z-index: -1;
}
.homeSection1 .leftGraphics {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}
.homeSection1 .rightGraphics {
  top: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

/*** Timelines ***/
.timeLines .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.timeLines .items .timelineCard {
  position: relative;
  background-color: #fff;
  padding: 40px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 12px 16px rgba(16, 24, 40, 0.08);
          box-shadow: 0px 12px 16px rgba(16, 24, 40, 0.08);
  margin-right: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #E8EAED;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.timeLines .items .timelineCard .nocount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #00A47D;
  color: #fff;
}
.timeLines .items .timelineCard .heading {
  font-size: 22px;
  line-height: 30px;
  color: #222;
  margin-bottom: 0px;
}
.timeLines .items .timelineCard .textPara {
  color: #222;
  font-size: 16px;
  line-height: 24px;
}
.timeLines .items .centerSection {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}
.timeLines .items:hover .timelineCard {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: 0px 2px 4px rgba(16, 24, 40, 0.08);
          box-shadow: 0px 2px 4px rgba(16, 24, 40, 0.08);
}
.timeLines .items:nth-child(even) .timelineCard {
  margin-left: auto;
}
.timeLines::after {
  content: "";
  position: absolute;
  top: -100px;
  left: 50%;
  width: 4px;
  height: 100%;
  background-color: #00A47D;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

/*** Block Section ***/
.blockSection .headingContent .imgIns img {
  -webkit-box-shadow: 0px 12px 16px rgba(16, 24, 40, 0.08);
          box-shadow: 0px 12px 16px rgba(16, 24, 40, 0.08);
}

/*** Accordian ***/
.themeAccordian .accordion-toggle {
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 50%;
  background-size: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1753_2113)'%3E%3Cpath d='M17.9672 10.4199C17.9672 10.4199 12.744 10.4199 11.6994 10.4199C10.6547 10.4199 9.61011 11.4646 9.61011 12.5092C9.61011 13.5539 9.61011 18.7771 9.61011 18.7771' stroke='%23333333' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.60983 2.0625C9.60983 2.0625 9.60983 7.28572 9.60983 8.33036C9.60983 9.375 8.56519 10.4197 7.52054 10.4197C6.4759 10.4197 1.25269 10.4197 1.25269 10.4197' stroke='%23333333' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1753_2113'%3E%3Crect width='18' height='19' fill='white' transform='translate(0.609863 0.919922)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.themeAccordian .accordion-toggle.open {
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1753_2113)'%3E%3Cpath d='M15.5195 16.3298C15.5195 16.3298 11.8261 12.6364 11.0875 11.8978C10.3488 11.1591 8.87141 11.1591 8.13276 11.8978C7.39405 12.6365 3.70069 16.3298 3.70069 16.3298' stroke='%23333333' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.5195 4.51047C15.5195 4.51047 11.8261 8.20384 11.0875 8.94251C10.3488 9.68119 8.87143 9.68119 8.13275 8.94251C7.39408 8.20384 3.70071 4.51047 3.70071 4.51047' stroke='%23333333' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1753_2113'%3E%3Crect width='18' height='19' fill='white' transform='translate(0.609863 0.92041)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.themeAccordian .accordion-content {
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease, padding 0.3s ease;
  transition: max-height 0.3s ease, padding 0.3s ease;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.themeAccordian .accordion-content.open {
  max-height: 500px;
  padding: 14px 30px 30px 30px;
}

.contentPageContent {
  font-size: 16px;
  line-height: 26px;
}
.contentPageContent ul, .contentPageContent ol {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 1rem;
}
.contentPageContent ul li, .contentPageContent ol li {
  margin-bottom: 0.5rem;
}
.contentPageContent h4 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  margin: 20px 0;
}
.contentPageContent h5 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  margin: 0px 0 12px;
}
.contentPageContent h6 {
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  margin: 0px 0 12px;
}
.contentPageContent p {
  margin-bottom: 1rem;
}

/**** Responsive ****/
@media only screen and (max-width: 1440px) and (min-width: 1200px) {
  .homeSection1 .leftGraphics {
    width: 30%;
  }
  .homeSection1 .rightGraphics {
    width: 30%;
  }
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .homeSection1 .leftGraphics {
    width: 30%;
  }
  .homeSection1 .rightGraphics {
    width: 30%;
  }
}
@media (max-width: 991px) {
  .homeSection1 .leftGraphics {
    width: 30%;
  }
  .homeSection1 .rightGraphics {
    width: 30%;
  }
}
.tooltip-arrow {
  width: 8px;
  height: 8px;
  position: absolute;
  background: inherit;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.tooltip-arrow-top {
  bottom: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}
.tooltip-arrow-bottom {
  top: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}
.tooltip-arrow-left {
  right: -4px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.tooltip-arrow-right {
  left: -4px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.userlavelprogress {
  position: relative;
}
.userlavelprogress::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #E8E8EA;
  border-radius: 25px;
  z-index: 0;
}
.userlavelprogress .lavelItems {
  position: relative;
}
.userlavelprogress .lavelItems::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  width: calc(100% + 20px);
  height: 3px;
  background-color: #00A47D;
  border-radius: 25px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 1;
}
.userlavelprogress .lavelItems:nth-child(2)::before {
  left: -70%;
  width: calc(100% + 40px);
  opacity: 0;
}
.userlavelprogress .lavelItems:nth-child(3)::before {
  left: -70%;
  width: calc(100% + 40px);
  opacity: 0;
}
.userlavelprogress .lavelItems:nth-child(4)::before {
  left: -70%;
  width: 100%;
  opacity: 0;
}
.userlavelprogress .lavelItems img {
  mix-blend-mode: luminosity;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  position: relative;
  z-index: 2;
}
.userlavelprogress .lavelItems.current img {
  mix-blend-mode: normal;
  -webkit-filter: none;
          filter: none;
}
.userlavelprogress .lavelItems.current::before {
  opacity: 1;
}

/**** Container Size ***/
.container {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
}
/*# sourceMappingURL=theme_style.css.map */